
writable/*
writable/log/*
public/upload/*
*.sql
*.log
*.log
note.txt
writable/logs/log-2022-04-27.log
*.lnk
*.zip
*.log
*.db
.env
public/upload/*
public/uploads/*
writable/logs/log-2022-04-27.log
writable/debugbar/debugbar/*.json

