
writable/*
writable/log/*
public/upload/*
*.sql
*.log
*.log
note.txt
*.lnk
*.zip
*.log
*.db
.env
public/upload/*
public/uploads/*
writable/logs/*.log
writable/debugbar/*.json

app/Controllers/Home.php
