body {
    background-color: #fff;
    font-family: 'Prompt', sans-serif;
  }
  


  /* Main content */
  .img-header {
    width: 100%;
    height: 80vh;
    background-image: url(../img/page/header-about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  
@media (max-width: 575.98px) { 
  .img-header {
    width: 100%;
    height: 30vh;
    background-image: url(../img/page/header-about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 }

  /* End main content */

  /* header-blog-detail */

  .header-blog-detail {
    margin: 40px 40px;
  }
  @media (max-width: 575.98px) { 
    .header-blog-detail {
      margin: 0px 0px;
    }
   }
  /* end */

/* Comment */
.bg-comment {
  background-color: #F2F2F2;
  padding: 20px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* End Comment */

.avatar {
  border: 99px;
}