form ul li {
    margin:0px 0px;

}

#pswd_info {
    display:none;
}
/* form ul li:last-child {
    text-align:center;
    margin:35px 0 25px 0;
} */
input {
    padding:0px 10px;
    border:1px solid #d5d9da;
    border-radius:5px;
    box-shadow: 0 0 5px #e8e9eb inset;
    width:328px; /* 400 (#container) - 40 (li margins) -  10 (span paddings) - 20 (input paddings) - 2 (input borders) */
    font-size:1em;
    outline:0; /* remove webkit focus styles */
}

ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}


input:focus {
    border:1px solid #b9d4e9;
    border-top-color:#b6d5ea;
    border-bottom-color:#b8d4ea;
    box-shadow:0 0 5px #b9d4e9;
}

#pswd_info {
    position:absolute;
    /* bottom:-75px;
    bottom: -115px\9; IE Specific */
    top: 208px;
    right:-350px;
    width:350px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}

#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:50%;
    left:-5%;
    font-size:20px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
    transform: rotate(270deg);
}

.invalid {
    background:url("../icon/cross.png") no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url("../icon/tick.png") no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}

#pswd_info_set {
    display:none;
}

#pswd_info_set {
    position:absolute;
    /* bottom:-75px;
    bottom: -115px\9; IE Specific */
    top: 110px;
    right:-330px;
    width:350px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}

#pswd_info_set h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info_set::before {
    content: "\25B2";
    position:absolute;
    top:50%;
    left:-5%;
    font-size:20px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
    transform: rotate(270deg);
}