.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity 0.6s ease;
    border-radius: 50%;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #14306D;
}

.carousel-control-next,
.carousel-control-prev {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 1;
}

.content {
    position: relative;
    width: 100%;
}

.header-line::before {
    content: '';
    position: absolute;
    border-bottom: 2px goldenrod solid;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-50%);
}

.active-2 {
    color: #0E3F54;
}

@media screen and (max-width: 992px) {
    .house-type-link>img {
        max-height: 500px !important;
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 450px) {}