.img-cover img {
    width: 100%;
    object-fit: cover;
    height: 730px;
}

.contant img {
    width: 100%;
    height: auto;
}

.line {
    width: 5px;
    height: 110px;
    left: 979px;
    top: 827px;
    background: #2E69B6;
}

.contant span {
    font-size: 2rem;
}

.contant p {
    font-size: .8rem;
}

.active-5 {
    color: #0E3F54;
}