.blog .card-body {
    color: rgb(54, 54, 54);
}

.blog .card-body:hover {
    color: rgb(0, 0, 0);
    transform: all 0.9;
}

.blog .card-img-top {
    width: 100%;
    max-height: auto;
}

.active-4 {
    color: #0E3F54;
}