* {
    font-family: 'Prompt', sans-serif;  
}


.control-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 60px;
    align-items: center;
}

.control-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width: 575.98px) { 
    .control-header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 20px;
        align-items: center;
    }
    
    .control-row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}