
/* Start Footer  */
.follow-control .icons-list-item {
    background-color: #424453;
    color: #fff;
    border-color: #424453;
  }
  
  .follow-bg {
    background-color: #F4F4F4;
  }
  
  .sub-footer {
    display: flex;
    flex-direction: column;
  }
  
  .sub-footer .fa, .fas {
    font-weight: 900;
    font-size: 20px;
  }

  .flex-promise-footer {
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;
    justify-content: space-between;
    margin: 30px 0px;
  }
  
  .flex-promise-footer > div {
    padding: 5px 5px;
  }
  
   @media (max-width: 575.98px) {
      .flex-promise-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F4F4F4;
        justify-content: space-between;
        align-items: start;
          }
  
          .flex-promise-footer > div {
            margin: 5px 0px 0px 0px;
            padding: 5px 5px;
          }
  
       }

       
  
  /* End Footer */