body {
  background-color: #fff;
  font-family: 'Prompt', sans-serif;
}

a {
  color: #031b4e !important;
}

/* Start carousel */
.carousel-control-prev {
  font-weight: 500;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.40);
  width: 50px;
  height: 50px;
  top: 50%;
  left: 1%;
  color: #000;
}
.carousel-control-next {
  font-weight: 500;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.40);
  width: 50px;
  height: 50px;
  top: 50%;
  right: 1%;
  color: #000;
}


@media (max-width: 575.98px) { 
  .carousel-control-prev .fa, .fas {
    font-weight: 400;
    font-size: 30px;
  }
  .carousel-control-next .fa, .fas {
    font-weight: 400;
    font-size: 30px;
  }
  .carousel-inner {
    margin-top: 60px;
  }
 }

/* End carousel */


/* Start Banner Image */
.main-banner-images {
  width: 100%;
  height: 450px;
  background-image:url('../img/home-main-image1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff !important;
 }

 .main-banner-images a {
  font-size: 35px;
  border-radius: 8px;
  border: 1px solid #0082C8;
  background-color: #0082C8;
  padding: 5px 40px;
  color: #fff !important;
  position: absolute;
  top: 75%;
  left: 35%;
  font-weight: 400;
 }
 
 .main-banner-images-clearance {
   width: 100%;
   height: 150px;
   background-image:url('../img/home-main-image2.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .main-banner-images-clearance a {
  font-size: 30px;
  color: #fff !important;
  position: absolute;
  top: 65%;
  left: 55%;
  text-shadow: 1px 2px #000;
  font-weight: 900;
 }
 
 
 .main-banner-images-team {
   width: 100%;
   height: 150px;
   background-image:url('../img/home-main-image3.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 
 .main-banner-images-team a {
  font-size: 30px;
  color: #fff !important;
  position: absolute;
  top: 35%;
  left: 65%;
  text-shadow: 1px 2px #000;
  font-weight: 900;
 }

 .main-banner-images-faq {
   width: 100%;
   height: 150px;
   background-image:url('../img/home-main-image4.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .main-banner-images-faq a {
  font-size: 30px;
  color: #fff !important;
  position: absolute;
  top: 35%;
  left: 80%;
  text-shadow: 1px 2px #000;
  font-weight: 900;
 }
 
 @media (max-width: 575.98px) { 
   .main-banner-images {
     width: 100%;
     height: 300px;
     background-image:url('../img/home-main-image1.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    }

    .main-banner-images a {
      font-size: 25px;
      border-radius: 8px;
      border: 1px solid #0082C8;
      background-color: #0082C8;
      padding: 5px 40px;
      color: #fff !important;
      position: absolute;
      top: 80%;
      left: 25%;
      font-weight: 400;
     }
    
    .main-banner-images-clearance {
      width: 100%;
      height: 150px;
      background-image:url('../img/home-main-image2.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .main-banner-images-clearance a {
      font-size: 25px;
      color: #fff !important;
      position: absolute;
      top: 70%;
      left: 55%;
      text-shadow: 1px 2px #000;
      font-weight: 900;
     }
     
    
    .main-banner-images-team {
      width: 100%;
      height: 150px;
      background-image:url('../img/home-main-image3.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .main-banner-images-team a {
      font-size: 25px;
      color: #fff !important;
      position: absolute;
      top: 45%;
      left: 65%;
      text-shadow: 1px 2px #000;
      font-weight: 900;
     }
    
    .main-banner-images-faq {
      width: 100%;
      height: 150px;
      background-image:url('../img/home-main-image4.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .main-banner-images-faq a {
      font-size: 25px;
      color: #fff !important;
      position: absolute;
      top: 60%;
      left: 80%;
      text-shadow: 1px 2px #000;
      font-weight: 900;
     }
  }

  /* แบนเนอร์ใหม่ */
.containerflex {
  display: flex;
  flex-direction: row;
  position:relative;
}

.containerflex-1 {
  flex-grow: 2;
}


.main-banner-img a {
  font-size: 25px;
  border-radius: 8px;
  border: 1px solid #0082C8;
  background-color: #0082C8;
  padding: 5px 40px;
  color: #fff !important;
  position: relative;
  font-weight: 400;
  top: -80PX;
    left: 35%;
}

.main-banner-img-clearance a {
  font-size: 30px;
  color: #fff !important;
  position: absolute;
  top: 15%;
  left: 80%;
  text-shadow: 1px 2px #000;
  font-weight: 900;
 }

 .main-banner-img-team a {
  font-size: 30px;
  color: #fff !important;
  position: absolute;
  top: 45%;
  left: 85%;
  text-shadow: 1px 2px #000;
  font-weight: 900;
 }


 .main-banner-img-faq a {
  font-size: 30px;
  color: #fff !important;
  position: absolute;
  top: 80%;
    left: 90%;
  text-shadow: 1px 2px #000;
  font-weight: 900;
 }

@media (max-width: 575.98px) {
  .containerflex {
    display: flex;
    flex-direction: column;
  }
  .containerflex-1 img {
    height: 320px;
  }

  .main-banner-img a {
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #0082C8;
    background-color: #0082C8;
    padding: 5px 20px;
    color: #fff !important;
    position: absolute;
    font-weight: 400;
    left: 30%;
    top: 20%;
  }
  
  .main-banner-img-clearance a {
    font-size: 25px;
    color: #fff !important;
    position: absolute;
    top: 55%;
    left: 30%;
    text-shadow: 1px 2px #000;
    font-weight: 900;
}
  
   .main-banner-img-team a {
    font-size: 30px;
    color: #fff !important;
    position: absolute;
    top: 70%;
    left: 40%;
    text-shadow: 1px 2px #000;
    font-weight: 900;
   }
  
  
   .main-banner-img-faq a {
    font-size: 25px;
    color: #fff !important;
    position: absolute;
    top: 95%;
    left: 45%;
    text-shadow: 1px 2px #000;
    font-weight: 900;
   }
}

/* จบแบนเนอร์ใหม่ */
/* End Banner Image */


  .text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  /*Box Products */

  .text-discount {
    text-decoration: line-through !important;
    color: rgba(0,0,0,.13);
  }

  .product-sale .wishlist {
    font-size: 22px !important;
    background-color: #FFF;
    padding: 0px 20px 0px;
    top: -12px;
    right: 12px;
    border-radius:8px ;
}

.box-image > span {
  background-color: #5D6C8B;
  color: #fff;
  left: 15px;
  line-height: 1;
  padding: 3px 10px 3px;
  position: absolute;
  top: 20px;
  z-index: 98;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.card-body {
  background-color: #F5F5F5;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: #F5F5F5;
  background-clip: border-box;
  border-radius: 5px;
  border: 1px solid #00000014;
  margin-bottom: 1.3rem;
  box-shadow: -8px 12px 18px 0 #00000014;
  height: 95% !important;
}

.colorinput span {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.colorinput-color {
  border-radius: 99px;
}

  /*Box Products */


  /* Start Image Footer */

  .main-banner-images-footer {
    width: 100%;
    height: 500px;
    background-image:url('../img/home-main-image1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   
   .main-banner-images-clearance-footer {
     width: 100%;
     height: 250px;
     background-image:url('../img/home-main-image2.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
   }
   
   .main-banner-images-team-footer {
     width: 100%;
     height: 250px;
     background-image:url('../img/home-main-image3.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
   }
   
   .main-banner-images-faq-footer {
     width: 100%;
     height: 500px;
     background-image:url('../img/home-main-image4.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
   }

   .img-fluid {
    width: 100%;
    height: auto;
}
.home_banner img {
  margin-bottom: 17px;
}
   
   @media (max-width: 575.98px) { 
     .main-banner-images-footer {
       width: 100%;
       height: 300px;
       background-image:url('../img/home-main-image1.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
      }
      
      .main-banner-images-clearance-footer {
        width: 100%;
        height: 150px;
        background-image:url('../img/home-main-image2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      
      .main-banner-images-team-footer {
        width: 100%;
        height: 150px;
        background-image:url('../img/home-main-image3.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      
      .main-banner-images-faq-footer {
        width: 100%;
        height: 300px;
        background-image:url('../img/home-main-image4.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .img-fluid {
        max-width: 100%;
        height: auto;
    }
    .home_banner img {
      margin-bottom: 17px;
  }
    }

  /* End Image Footer */


/* Our Promise */
.flex-promise {
  display: flex;
  justify-content: center;
  background-color: #F4F4F4;
  justify-content: space-between;
  margin: 30px 0px 20px 0px;
}
.flex-promise > div {
  padding: 50px 20px 20px 20px;
}



 @media (max-width: 575.98px) {
    .flex-promise {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #F4F4F4;
      justify-content: space-between;
      align-items: start;
        }

        .flex-promise > div {
          margin: 10px 0px 0px 0px;
          padding: 10px 10px;
        }
     }
     
     
/* Our Promise */

@media (max-width: 575.98px) {
  .containerflex-2 img{
    height: 120px;
  }
   }
   