.carousel-control-next,
.carousel-control-prev {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 1;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity 0.6s ease;
    border-radius: 50%;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #14306D;
}

.header-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E5B07D;
}

.index-detail1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-detail1>a {
    margin-top: 15px;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 30px;
}

.index-detail1>a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.index-detail2 {
    position: relative;
}

.index-detail2>img {
    width: 100%;
}

.index-detail2-text {
    position: absolute;
    top: 15%;
    left: 5%;
}

.active-1 {
    color: #0E3F54;
}

@media screen and (max-width: 992px) {
    .house-type-link>img {
        max-height: 500px !important;
    }
}

@media screen and (max-width: 576px) {
    .index-detail1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 10%;
    }
    .index-detail2-text>h1 {
        font-size: 15px;
    }
    .index-detail2-text>h3 {
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    .index-detail1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 10%;
    }
    .index-detail2-text>h1 {
        font-size: 15px;
    }
    .index-detail2-text>h3 {
        font-size: 10px;
    }
}

.wrapper-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.wrapper-iframe>iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}